@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/Images/Logo.jpg" alt="Bean Scene Restaurant Logo" width="300" height="200">
    <h1 class="display-4">Welcome to Bean Scene Restaurant</h1>
    <p>Here at Bean Scene, we value our customers. Feel free to sign up and become a member to receive reward points to go towards your next order.</p>
    <p>Unfortunately, we are not offering take-away orders at the moment. Sorry for any inconvenience.</p>
    <p>Please navigate to the Book Reservation tab to book your reservation.</p>
</div>
