@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/Images/Logo.jpg" alt="Bean Scene Restaurant Logo" class="float-left" />
    <h1 class="display-4">Welcome to Bean Scene Restaurant</h1>
    <p>Here at Bean Scene, we value our customers. Feel free to sign up and become a member.</p>
    <p>Unfortunately, we are not offering take-away orders at the moment. We apologize for any inconvenience.</p>
    <p>Please navigate to the Book Reservation tab to book your reservation.</p>
    <p>The menu will be available on the website soon. We apologize for the inconvenience. Please call if you would like to know the menu before booking a reservation.</p>
</div>
